[submodule "kickstart.nvim"]
	path = kickstart.nvim
	url = git@github.com:MichOchieng/kickstart.nvim.git

[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
